@page "/purchase/createpurchase"

@using AppForSEII2526.Web.API
@using Microsoft.AspNetCore.Authorization
@using AppForSEII2526.Web.Components.Shared

@inject AppForSEII2526APIClient apiclient
@inject ILogger<CreatePurchase> logger
@inject PurchaseStateContainer purchaseState
@inject NavigationManager navigation

@*@attribute [Authorize] *@

<h3>Create Purchase</h3>

<EditForm Model="purchase" OnValidSubmit="OpenDialog">

    <div class="row">
        <DataAnnotationsValidator />
        <ValidationSummary class="row alert alert-danger" />
    </div>

    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @messageError</p>
    </div>
   
    

  
    <div class="row g-3">
        
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="purchase.CustomerName" class="form-control" id="Name" />
                <label>Customer Name</label>
            </div>
        </div>

        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="purchase.CustomerSurname" class="form-control" id="Surname" />
                <label>Customer Surname</label>
            </div>
        </div>

        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="purchase.DeliveryAddress" class="form-control" id="DeliveryAddress" />
                <label>Delivery Address</label>
            </div>
        </div>

    </div>
    
   
    <div class="row g-2">

        <div class="col-md">
            <div class="form-floating">
                <InputSelect class="form-select" @bind-Value="purchase.PaymentMethod" id="PaymentMethod">
                    <option value="@PaymentMethod.CreditCard">Credit Card</option>
                    <option value="@PaymentMethod.PayPal">PayPal</option>
                </InputSelect>
                <label>Payment Method</label>
            </div>
        </div>

        <div class="col-md">
            <div class="form-floating">
                <button class="btn btn-primary"
                        type="submit"
                        id="Submit"
                        disabled="@purchaseButtonDisabled">
                    Purchase devices
                </button>
            </div>
        </div>

    </div>
   
   
    <h4>Purchase detail</h4>

    <p>
        <b>Total price:</b> @purchase.TotalPrice €
        <button class="btn btn-outline-primary"
                type="button"
                @onclick="ModifyPurchaseItems"
                id="ModifyDevices">
            Modify devices
        </button>
    </p>
    

    
   
    <div class="mh-100 table-responsive">
        <table class="table table-hover" id="TableOfPurchaseItems">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in purchase.PurchaseItems)
                {
                    <tr>
                        <td>@item.Brand</td>
                        <td>@item.Model</td>
                        <td>@item.Color</td>
                        <td>@item.PriceForPurchase €</td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</EditForm>



@if (DialogIsOpen)
{
        <Dialog Caption="Confirm Purchase"
        Message="Do you want to proceed with the purchase?"
        OnClose="@OnDialogClose"
        Type="Dialog.Category.SaveNot">
        </Dialog>
}

@code {

    private string messageError = "";
    private bool hideErrors { get { return messageError.Length == 0; } }

    private bool purchaseButtonDisabled { get { return (purchase.PurchaseItems == null || purchase.PurchaseItems.Count == 0); } }

    private bool DialogIsOpen = false;

    private PurchaseForCreateDTO purchase => purchaseState.Purchase;

    private void OpenDialog()
    {
        DialogIsOpen = true;
    }

    private void ModifyPurchaseItems()
    {
        navigation.NavigateTo("/purchase/selectdevicesforpurchase");
    }

    
    
    private async Task OnDialogClose(bool isOk)
    {

        DialogIsOpen = false;
        if (isOk)
        {
            // Process the data introduced by the user if they are valid
            if (purchase.PurchaseItems.Count > 0)
            {
                try
                {
                    var purchased = await apiclient.CreatePurchaseAsync(purchase);
                    purchaseState.PurchaseProcessed();
                    navigation.NavigateTo($"/purchase/detailpurchase?id={purchased.Id}");
                }
                catch (ApiException<ValidationProblemDetails> apiexceptionvalidation)
                {

                    if (apiexceptionvalidation.Result.Errors.Values != null)
                    {
                        messageError = "";
                        foreach (var errors in apiexceptionvalidation.Result.Errors.Values)
                            messageError = string.Join("(*) ", messageError, string.Join(" (*) ", errors));
                    }
                }
                catch (ApiException apiexception)
                {
                    //we need to inform user that there was some other error while processing the request
                    messageError = "Error while processing your request, please try again later!";

                }

            }
        }
    }
    


    protected override async Task OnInitializedAsync()
    {

        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            if (user is not null)
            {
                if (user.Identity is not null && user.Identity.IsAuthenticated)
                {
                    purchase.CustomerName = user.Identity.Name;
                }
            }
            purchase.CustomerName = purchase.CustomerName == null ? "" : purchase.CustomerName;
            purchase.CustomerSurname = purchase.CustomerSurname == null ? "" : purchase.CustomerSurname;
            purchase.DeliveryAddress = purchase.DeliveryAddress == null ? "" : purchase.DeliveryAddress;

        }
    }


    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
}
 




