@page "/purchase/PurchaseItem"

@using AppForSEII2526.Web.API

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <p class="card-title">
                    @Item.Brand @Item.Model (@Item.PriceForPurchase €)
                    <br />
                    <small>Cantidad: @Item.Quantity</small>
                </p>
            </div>
            <div class="p-2">
                <button class="btn-close" aria-label="Close"
                        id="removeDevice_@Item.DeviceID"
                        @onclick="@(() => OnRemovedItem.InvokeAsync(Item))">
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public PurchaseItemDTO Item { get; set; }

    [Parameter] public EventCallback<PurchaseItemDTO> OnRemovedItem { get; set; }
}

